@font-face {
  font-family: "PPGatwick-Bold";
  src: url("PPGatwick-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: white;
  font-family: "PPGatwick-Bold", sans-serif;
  font-size: large;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo-container img {
  width: 50vw;
  /* cambia le dimensioni dell'immagine a seconda della tua preferenza */
  height: auto;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

/* Adjust the size of the logo for smaller screens */

@media (min-width: 768px) {
  .logo-container img {
    width: 30vw;
    height: auto;
    border-radius: 50%;
    transition: transform 0.5s ease;
  }
}

/* Adjust the size of the logo for larger screens */

@media (min-width: 1200px) {
  .logo-container img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    transition: transform 0.5s ease;
  }
}

.logo-container img:hover {
  transform: rotate(360deg);
}

.logo-text-container {
  width: 100%;
  text-align: center;
}

.logo-text {
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
}

footer {
  font-family: "PPGatwick-Bold", sans-serif;
  font-size: 0.75rem;
  color: #888;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
