@font-face {
  font-family: "PPGatwick-Bold";
  src: url("PPGatwick-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

html {
  background-color: white;
  font-family: "PPGatwick-Bold", sans-serif;
  font-size: large;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  flex-direction: column;
}

.logo-container img {
  width: 50vw;
  /* cambia le dimensioni dell'immagine a seconda della tua preferenza */
  height: auto;
  border-radius: 50%;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adjust the size of the logo for smaller screens */

@media (min-width: 768px) {
  .logo-container img {
    width: 30vw;
  }
}

/* Adjust the size of the logo for larger screens */

@media (min-width: 1200px) {
  .logo-container img {
    width: 20vw;
  }
}

.logo-text-container {
  width: 100%;
  text-align: center;
}

.logo-text {
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
}

footer {
  font-size: 0.75rem;
  color: #888;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
